.tracker-rings-container {
    height: 100vh;
    background-color: rgb(124, 124, 151);
    display: flex;
}

.container {
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.graph {
    height: 45vh;
    width: 70vw;
}