.homepage-wrapper {
	background: no-repeat
		url(../images/TasselHat_dollar_bills_floating_around_17529129-3d9b-4f68-8309-9596ec01b529.png);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	min-height: calc(100vh - 80px);
	padding: 1rem 0.5rem;
	color: rgb(170, 176, 182);
}

.gross-income-submission-form {
	min-width: 30vw;
	margin: 30px;
	justify-content: space-around;
	background-color: #0a0a29;
	padding: 1rem;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}