.profileContainer {
	background: no-repeat
		url(../images/TasselHat_dollar_bills_floating_around_17529129-3d9b-4f68-8309-9596ec01b529.png);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 80px);
	padding: 1rem 0.5rem;
}

h1 {
	min-height: 24px;
}

.registrationSection {
	width: 100%;
	max-width: 420px;
	max-height: 600px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background-color: #0a0a29;
	color: rgb(144, 151, 158);
	border-radius: 10px;
}

.registrationForm {
	width: 100%;
	max-width: 420px;
	max-height: 600px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 0.8;
	padding: 1rem;
	background-color: #0a0a29;
	color: rgb(144, 151, 158);
	border-radius: 10px;
}

.loginContainer {
	background: no-repeat
		url(../images/TasselHat_dollar_bills_floating_around_17529129-3d9b-4f68-8309-9596ec01b529.png);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 80px);
	padding: 1rem 0.5rem;
}

.loginSection {
	width: 100%;
	max-width: 420px;
	max-height: 500px;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background-color: #0a0a29;
	color: rgb(144, 151, 158);
	border-radius: 10px;
}

.loginForm {
	width: 100%;
	max-width: 420px;
	max-height: 500px;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 0.8;
	padding: 1rem;
	background-color: #0a0a29;
	color: rgb(144, 151, 158);
	border-radius: 10px;
}

a,
a:visited {
	color: rgb(144, 151, 158);
}

input[type="text"],
input[type="password"],
button,
textarea {
	padding: 0.25rem;
	border-radius: 0.5rem;
}

label,
button {
	margin-top: 1rem;
}

button {
	padding: 0.5rem;
}

.instructions {
	font-size: 0.75rem;
	border-radius: 0.5rem;
	background: #000;
	color: #fff;
	padding: 0.25rem;
	position: relative;
	bottom: -10px;
}

.instructions > svg {
	margin-right: 0.25rem;
}

.offscreen {
	position: absolute;
	left: -9999px;
}

.hide {
	display: none;
}

.valid {
	color: limegreen;
	margin-left: 0.25rem;
}

.invalid {
	color: red;
	margin-left: 0.25rem;
}

.errmsg {
	background-color: lightpink;
	color: firebrick;
	font-weight: bold;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.line {
	display: inline-block;
}
