h2 {
	margin: 0.5vh 0 0.5vh 0;
}

.tracker-rings-container {
	background-color: #7c7c7c;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 80px);
	padding: 0rem 0.5rem;
}

.updateButton {
	position: absolute;
	top: 15vh;
	left: 70vw;

	font-weight: 500;
	font-style: normal;
	font-size: calc(0.05 * 1vw + 1rem);
	letter-spacing: 0em;
	text-transform: none;
	line-height: 1.6em;
	border-color: #040404;
	color: #040404;
	border-style: solid;
	cursor: pointer;
	border-width: 1px;
	border-radius: 6px;
	padding: 0.3vw 0.4vw 0.3vw 0.4vw;
	margin-right: 0.2vw;
	margin-left: 0.2vw;
	margin-top: 0.2vw;
	margin-bottom: 0.2vw;
	transition: background-color 200ms, color 60ms, padding 200ms, margin 200ms;
}

.updateButton:hover {
	color: #040404;
	padding-left: 0.6vw;
	padding-right: 0.6vw;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	opacity: 0.9;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}

.updateButton:active {
	opacity: 0.6;
}

.changeButton {
	position: absolute;
	top: 60vh;
	left: 70vw;

	font-weight: 500;
	font-style: normal;
	font-size: calc(0.05 * 1vw + 1rem);
	letter-spacing: 0em;
	text-transform: none;
	line-height: 1.6em;
	border-color: #040404;
	color: #040404;
	border-style: solid;
	cursor: pointer;
	border-width: 1px;
	border-radius: 6px;
	padding: 0.3vw 0.4vw 0.3vw 0.4vw;
	margin-right: 0.2vw;
	margin-left: 0.2vw;
	margin-top: 0.2vw;
	margin-bottom: 0.2vw;
	transition: background-color 200ms, color 60ms, padding 200ms, margin 200ms;
}

.changeButton:hover {
	color: #040404;
	padding-left: 0.6vw;
	padding-right: 0.6vw;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	opacity: 0.9;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}

.changeButton:active {
	opacity: 0.6;
}

.chart-container {
	width: 75vw;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.graph {
	height: 40vh;
	width: 70vw;
}
