.tracker-rings-container {
	background: no-repeat
		url(../images/TasselHat_dollar_bills_floating_around_17529129-3d9b-4f68-8309-9596ec01b529.png);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 80px);
	padding: 1rem 0.5rem;
}

.chart-container {
	width: 50vw;
}

.container {
	height: 45%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.graph {
	height: 45vh;
	width: 70vw;
}
